.popup__image {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.popup__image_opened {
  display: flex;
}
