.profile {
  display: flex;
  max-width: 880px;
  width: 100%;
  align-items: center;
}
.profile__content {
  display: flex;
  max-width: 880px;
  width: 100%;
}

.profile__info {
  margin-left: 30px;
}

.profile__info-name {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
}

.profile__info-description {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.profile__button-info {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-image: url("../images/edit-button.png");
}

.profile__button-add {
  width: 150px;
  height: 50px;
  left: 930px;
  top: 194px;
}
